<%- include ('../../partials/_header') %>
<!-- Menu para el manejo de productos y familias -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mt-3">
    <div class="container">
        <div class="">
            <div class="">
                <a href="/components/Factory/products">Menu de productos</a>
            </div>
        </div>
    </div>
</nav>
<%if(message!=undefined){%>
    <div class="contianer mt-2 ml-2">
        <p><%=message%></p>
    </div>
<%}%>
<div class="container-md-screen mt-3">
    <%if(arrayFamily[0]!=undefined){%>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE DE FAMILIA</th>
                    <th>MODIFICAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <%for(var i=0; i < arrayFamily.length; i++){%>
                    <tr>
                        <td><%= arrayFamily[i].familyProduct.idProductsFamily%></td>
                        <td><%= arrayFamily[i].familyProduct.nameFamily%></td>
                        <td><a href="/components/Factory/family/modify/update/<%= arrayFamily[i].familyProduct.idProductsFamily%>" class="btn btn-primary btn-sm">MODIFICAR</a></td>
                        <td><a href="/components/Factory/family/modify/delete/<%= arrayFamily[i].familyProduct.idProductsFamily%>" class="btn btn-danger btn-sm">ELIMINAR</a></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <%}else{%>
            <div class="col mt-4 ml-2">
                <h5>Aun no se ha agregado familias de productos al sistema</h5>
            </div>
        <%}%>
    </div>
<%- include ('../../partials/_footer') %>