<%- include ('../../../partials/_header') %>
<div class="container">
    <div class="card">
        <div lass="card-body">
            <div class="">
                <h5>Informacion de cliente</h5>
                <p>Id de cliente: <%=clients.idClient%></p>
                <p>Nombre de cliente: <%=clients.nameStore%></p>
                <p>Direccion: <%=clients.street%> <%=clients.adressNumber%>, <%=clients.colony%></p>
                <p>Coordenadas: <%=clients.latitude%>, <%=clients.longitude%></p>
                <hr>
                <%if(routes[0]!=undefined){%>
                <h5>Selecciona la posicion donde estara el cliente</h5>
                <form action="/components/Routes/route/addNewPosition" method="post">
                    <input type="hidden" name="client" class="form-control" value="<%= clients.idClient%>">
                    <div class="form-group">
                        <select class="form-control" name="idRoute">
                            <option value="<%=routes[0].route.idRoute%>"><%=routes[0].route.nameRoute%></option>
                            <%for(var i=1; i < routes.length; i++){%>
                                <option value="<%=routes[i].route.idRoute%>"><%=routes[i].route.nameRoute%></option>
                                <%}%>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="day">
                            <option value="<%=days[0].id%>"><%=days[0].day%></option>
                            <%for(var i=1; i < days.length; i++){%>
                                <option value="<%=days[i].id%>"><%=days[i].day%></option>
                            <%}%>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="position" placeholder="Posicion">
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Agregar posicion
                    </button>
                </form>
                <%}%>
            </div>
            <%if(message!=undefined){%>
                <div class="ml-3 mt-3">
                    <p><%=message%></p>
                </div>
            <%}%>
        </div>
    </div>
</div>
<%- include ('../../../partials/_footer') %>